/* base.css */
body {
    margin: 0;
    height: 100vh;
    font-family: 'Lexend Exa', sans-serif !important;
    background: linear-gradient(to bottom right, #000000, #40e0d0, #87ceeb);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button, input, select {
    font-family: inherit;
}
