/* Custom slider switch */
.switch {
    position: relative;
    display: inline-block;
    width: 35px; /* Decreased width */
    height: 20px; /* Decreased height */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px; /* Adjusted border-radius */
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px; /* Adjusted height */
    width: 18px; /* Adjusted width */
    border-radius: 50%;
    left: 1px; /* Adjusted position */
    bottom: 1px; /* Adjusted position */
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(15px); /* Adjusted based on slider size */
}

/* Rounded sliders */
.round {
    border-radius: 20px; /* Adjusted border-radius */
}

.round:before {
    border-radius: 50%;
}
